{% extends 'themes/base_admin.html.twig' %}


{% block title %}
	- Admin - Les Produits
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur la liste des produits. ">
{% endblock %}

{% block jQuery %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block main %}
	<h1 class="text-center my-3 display-5">Les Produits</h1>

	{% for message in app.flashes('success') %}
		<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	{% for message in app.flashes('warning') %}
		<div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	<div class="container">
		<div class="d-flex justify-content-end align-items-center my-3">
			<a href="{{path('admin.product.create')}}" class="btn btn-primary shadow">
				<i class="fa-solid fa-plus"></i>
				Nouveau Produit</a>
		</div>
		<div class="row">
			<div class="col-md-3"></div>

			<div class="col-md-9">
				<div class="row">
					{% for category in categories %}
						<div class="col-md-4 mb-3">
							<a class='text-decoration-none' href="">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title text-black">{{category.name}}</h5>
										<p class="card-text text-black">{{category.description}}</p>
										<p class="card-text text-black mb-2">
											{% if category.image %}
												<img src="{{ vich_uploader_asset(category, 'imageFile') | imagine_filter('admin_product_thumbnail') }}" class=' card-img' alt="{{ category.name }}">
											{% else %}
												<p>---</p>
											{% endif %}
										</p>
										<a href="{{category.slug}}" class="btn btn-primary">Voir les
											{{category.name}}</a>
									</div>
								</div>
							</a>

						</div>
					{% endfor %}

				</div>


			</div>


		</div>
	</div>
{% endblock %}
