{% extends 'themes/base_user.html.twig' %}

{% block title %}
	- Commande
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur le processus de commande'. ">
{% endblock %}


{% block main %}
	<h1 class="text-center my-3 display-5">Creation de Commande
	</h1>

	<div class="container my-2">
		<div class="row">
			<div class="col-md-9">
				<section>
					<h3>1 - Vos Articles</h3>
					<div class="row">
						{% for item in cart %}
							<div class="col-md-3">
								{% if item.product.images|length > 0 %}
									<img src="{{ asset('/uploads/images/thumbnails/' ~ item.product.images[0].name) }}" class="w-75 h-75" alt="{{ item.product.name }}">
								{% endif %}
								<p class="text-center">{{ item.product.name|striptags|u.truncate(30, '...')|raw }}</p>

							</div>
						{% endfor %}
					</div>
				</section>
				<section>
					<h3>2 - Choisissez votre adresse de Livraison</h3>
					<p>Pas encore d'adresse de livraison? Vous pouvez en creer une
						<a class='text-info' href="{{path('user.addresses.index')}}">ici</a>
					</p>

					<div class="mb-3">
						{{ form_label(form.addresses) }}
						{% for address in form.addresses %}
							<div class="form-check bg-body-secondary">
								{{ form_widget(address, {'attr': {'class': 'form-check-input'}}) }}
								{{ form_label(address, '', {'attr': {'class': 'form-check-label'}, 'label_html': true})|raw }}
							</div>
						{% endfor %}
						{{ form_errors(form.addresses) }}
					</div>
				</section>
				<section>
					<h3>3 - Choisissez votre mode de Livraison</h3>
					<h5>A Domicile</h5>
					<div class="mb-3">
						{{ form_label(form.carriers) }}

						{% for carrier in form.carriers %}

							<div class="form-check bg-body-secondary">
								{{ form_widget(carrier, {'attr': {'class': 'form-check-input'}}) }}
								{{ form_label(carrier, '', {'attr': {'class': 'form-check-label'}, 'label_html': true})|raw }}
							</div>
						{% endfor %}
						{{ form_errors(form.carriers) }}
					</div>
				</section>
			</div>
			<div class="col-md-3">
				<h5 class='my-3'>Récapitulatif de la commande</h5>

				<section class=' bg-body-secondary'>
					<div class='mx-2'>
						<h6>Articles</h6>
						{% for item in cart %}
							<div class=" d-flex justify-content-between mx-3">
								<p>{{item.quantity}}
									x
									{{ item.product.name|striptags|u.truncate(15, '...')|raw }}</p>

								<p>{{ (item.quantity * item.product.price)|number_format('2', '.', ' ')}}
									€</p>
							</div>
						{% endfor %}
					</div>
					<div class='mx-2 d-flex justify-content-between'>
						<h6>Livraison</h6>
						<p class=' text-light-emphasis'>En cours de sélection</p>
					</div>

					<div class='d-flex justify-content-between mx-3'>
						<div>
							<h6>Total</h6>
							<span>
								(Hors frais de livraison)
							</span>
						</div>

						<p class="text-danger" style="font-weight: bold;">
							{{ total | format_currency('EUR', locale='fr') }}
						</p>
					</div>
				</section>
				<a class='btn btn-success my-2 rounded-5 w-100' href="">Valider ma commande</a>
			</div>
		</div>
	</div>
{% endblock %}
