{% extends 'themes/base_admin.html.twig' %}


{% block title %}
	- Admin - Modification des Parametres du Site
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur la liste des avis. ">
{% endblock %}

{% block jQuery %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block dataTables %}
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
{% endblock %}

{% block main %}
	<h1 class="text-center my-3 display-5">Modification des Paramètres du Site</h1>

	{% for message in app.flashes('success') %}
		<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	{% for message in app.flashes('warning') %}
		<div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<div class="container mt-5">
		<div class="col-md-6 mx-auto shadow p-4">
			{{form_start(form)}}
			<div class="mb-3">
				<label for="edit_setting_form_email">
					<strong>
						<i title="E-mail" class="fa-solid fa-at"></i>
					</strong>:</label>

				<div class="text-danger">{{form_errors(form.email)}}</div>
				{{form_widget(form.email, {'attr': {'class':'form-control'}})}}
			</div>
			<div class="mb-3">
				<label for="edit_setting_form_phone">
					<strong>
						<i title="Téléphone" class="fa-solid fa-phone"></i>
					</strong>:</label>

				<div class="text-danger">{{form_errors(form.phone)}}</div>
				{{form_widget(form.phone, {'attr': {'class':'form-control'}})}}
			</div>
			<div>
				<input formnovalidate type="submit" class="btn btn-primary" value="Modifier">
			</div>
			{{form_end(form)}}
		</div>
	</div>


{% endblock %}
