<!DOCTYPE html>
<html lang="fr">
	<head>
		{# Encodage des caractères #}
		<meta
		charset="UTF-8">

		{# Minimum de responsive design #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta
		name="robots" content="noindex, nofollow">

		{# Le titre de la page #}
		<title>Tech Store
			{% block title %}{% endblock %}
		</title>

		{# La description de la page #}
		{% block description %}
			<meta name="description" content="Tech Store est une société de vente d'ordinateurs et de matériel informatique">
		{% endblock %}

		{% block keywords %}
			<meta name="keywords" content="e-commerce, ordinateur, PHP, Symfony, ordinateur de bureau, portable">
		{% endblock %}

		{% block favicon %}
			{# Favicon #}
			<link rel="apple-touch-icon" sizes="180x180" href="{{asset('favicon/apple-touch-icon.png')}}">
			<link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon/favicon-32x32.png')}}">
			<link rel="icon" type="image/png" sizes="16x16" href="{{asset('favicon/favicon-16x16.png')}}">
			<link rel="manifest" href="{{asset('favicon/site.webmanifest.json')}}">
			<meta name="msapplication-TileColor" content="#da532c">
			<meta name="theme-color" content="#ffffff">
		{% endblock %}

		{# Font awesome #}
		{% block fontAwesome %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% endblock %}

		{# Google Font #}
		{% block googleFont %}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		{% endblock %}

		{% block bootstrap %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		{% endblock %}


		{# Chargement de bootstrap et de ma feuille de style #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{# Chargement du js #}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body
		class='T-body'>
		{# Navbar #}
		{% include "layouts/navbar/navbar_admin.html.twig" %}
		<div class="container-fluid">
			<div class="row">
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"> {% block main %}{% endblock %}
					</main>
					{% include "layouts/sidebar/sidebar_admin.html.twig" %}
				</div>
			</div>

			<script>
				$(document).ready(function () {
$(".dropdown").hover(function () {
$(this).addClass("show");
$(this).find(".dropdown-menu").addClass("show");
}, function () {
$(this).removeClass("show");
$(this).find(".dropdown-menu").removeClass("show");
});
});
			</script>


		</body>
	</html>
