{% extends "themes/base_visitor.html.twig" %}

{% block title %}
	- Vente de Materiel Informatique
{% endblock %}

{% block description %}{% endblock %}

{% block keywords %}{% endblock %}

{% block jQuery %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block main %}

	<div class="container">
		<div class="row">

			<section class='my-3'>
				<div class="col-md-12 justify-content-center align-items-center">
					<div class="row">
						{% for category in categories %}
							<div class="col-md-4 mb-3">
								<a class='text-decoration-none' href="">
									<div class="card w-100 h-100">
										<div class="card-body">
											<h5 class="card-title text-black">{{category.name}}</h5>
											<p class="card-text text-black">{{category.description}}</p>
											<p class="card-text text-black mb-2">
												{% if category.image %}
													<img src="{{ vich_uploader_asset(category, 'imageFile') }}" class=' card-img h-100 w-100' alt="{{ category.name }}">
												{% else %}
													<p>---</p>
												{% endif %}
											</p>
											<a href="{{category.slug}}" class="btn btn-primary w-100">Voir les
												{{category.name}}</a>
										</div>
									</div>
								</a>

							</div>
						{% endfor %}

					</div>


				</div>


			</section>
		</div>


	</div>
{% endblock %}
